# Tuplas


A estrutura de uma tupla é bem parecida com a lista, com algumas diferenças:

Utiliza-se parênteses () ao invés de colchetes: **tupla = (valor1, valor2, valor3,..., valorn)**

Os dados da tupla não podem ser alterados **(imutáveis)**

É mais eficiente

É muito utilizado para base de dados (proteção por ser imutável)

Muito utilizado para **dados heterogêneos**

In [1]:
funcionario = ("Gabriel", "23/10/1996", "Programador SR", 30000)

In [4]:
print(f"Nome do funcionário: {funcionario[0]}")
print(f"Idade: {funcionario[1]}")
print(f"Função: {funcionario[2]}")
print(f"Salário: R${funcionario[3]}")

Nome do funcionário: Gabriel
Idade: 23/10/1996
Função: Programador SR
Salário: R$30000

In [5]:
#Mensagem de erro ao tentar alterar um valor na tupla
funcionario[0] = "José"

TypeError: 'tuple' object does not support item assignment

### Forma diferente de indexar os itens de uma tupla

In [6]:
nome = funcionario[0]
idade = funcionario[1]
funcao = funcionario[2]
salario = funcionario[3]

In [8]:
nome, idade, funcao, salario = funcionario

In [9]:
nome

'Gabriel'

In [10]:
idade

'23/10/1996'

In [11]:
funcao

'Programador SR'

In [12]:
salario

30000